* {
  font-family: "Helvetica Neue", sans-serif;
}

h1 {
  text-align: center;
}

#search-form {
  text-align: center;
}
#search-info {
  text-align: center;
}
#region-map {
  width: 50%;
  margin: 30px auto;
}
